<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->

    <link rel="stylesheet" href="{% static "/bootstrap/dist/css/bootstrap.min.css" %}"> </link>

    <style>
    .gcontainer {
        width: 150px;
        margin: 0 auto;
        text-align: center;
    }

    .gauge {
        width: 200px;
        height: 200px;
    }

    a:link.button,
    a:active.button,
    a:visited.button,
    a:hover.button {
        margin: 10px 5px 0 2px;
        padding: 7px 13px;
    }

    .top-buffer { margin-top:50px; }

    .my-small-btn {
    width:50%;
    padding:5px;
}
    </style>
</head>
<body>

    <!--<ul>-->
        <!--&lt;!&ndash;Here all_albums is a collection of objects and album impersonates each object in all_albums. This is why album.id and album.album_title make sense&ndash;&gt;-->
        <!--<li><a>{{A_score}}</a></li>-->
    <!--</ul>-->

<main>


    <div class="container ">

        <h1 class="top-buffer text-center">Invalid Farmer ID or Incomplete Data Input({{farmer}})</h1>

    </div>
</main>



<!-- Gage JS -->
<script src="{% static "/js/justgage.js" %}" ></script>

    <!-- Gage JS -->
    <script src="{% static "/js/raphael_2.1.4.min.js" %}" ></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</body>
</html>

