<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->

    <link rel="stylesheet" href="{% static "/bootstrap/dist/css/bootstrap.min.css" %}"> </link>

    <style>
    .gcontainer {
        width: 150px;
        margin: 0 auto;
        text-align: center;
    }

    .gauge {
        width: 200px;
        height: 200px;
    }

    a:link.button,
    a:active.button,
    a:visited.button,
    a:hover.button {
        margin: 10px 5px 0 2px;
        padding: 7px 13px;
    }

    .top-buffer { margin-top:50px; }

    .my-small-btn {
    width:50%;
    padding:5px;
}
    </style>
</head>
<body>

    <!--<ul>-->
        <!--&lt;!&ndash;Here all_albums is a collection of objects and album impersonates each object in all_albums. This is why album.id and album.album_title make sense&ndash;&gt;-->
        <!--<li><a>{{A_score}}</a></li>-->
    <!--</ul>-->

<main>


    <div class="container ">

        <h1 class="top-buffer text-center">KPI Indicators</h1>

        <section class="row"  >

            <div class="col-lg-3" align="center">
                <div id="g1" class="gauge" ></div>
                <span>Farmer’s beneficiaries expectations</span>
            </div>

            <div class="col-lg-3" align="center">
                <div id="g2" class="gauge"></div>
                <span>Farmer's required farm activities to meet beneficiaries expectation</span>
            </div>

            <div class="col-lg-3" align="center">
                <div id="g3" class="gauge"></div>
                <span>Governance and social responsibility</span>
            </div>

            <div class="col-lg-3" align="center">
                <div id="g4" class="gauge"></div>
                <span>Farmer’s market access and flexibility</span>
            </div>
        </section>

        <section class="row">

            <div class="col-lg-3" align="center">
                <div id="g5" class="gauge"></div>
                <span>Farmer’s value addition</span>
            </div>

            <div class="col-lg-3" align="center">
                <div id="g6" class="gauge"></div>
                <span>Risk management</span>
            </div>

            <div class="col-lg-3" align="center">
                <div id="g7" class="gauge"></div>
                <span>Farm’s results</span>
            </div>

            <div class="col-lg-3" align="center">
                <div id="g8" class="gauge"></div>
                <span>Average Score</span>
            </div>

        </section >

        <section class="text-center">
            <h1 class = "top-buffer">Database Search</h1>


            <div class="col-lg-6 mx-auto">
                <form class="form-signin" id="login_form" method="post" action="">
                    {% csrf_token %}

                    <br >
                    <input type="text" name="user" class="form-control" placeholder="Farm or Farmer Name, e.g: Jason Renwick or Nature Valley Farm" value="" required autofocus>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Get Data</button>
                </form>
            </div>
        </section >

        <!--<h2 class="text-center"> Farmer Data </h2>-->


        <!--<div class="col-lg-12">-->
        <!--<div class="table-responsive">-->
        <!--<table class="table table-bordered table-hover table-striped tablesorter">-->
        <!--<thead>-->
        <!--<tr>-->
        <!--<th class="header"> Farm ID <i class="icon-sort"></i></th>-->
        <!--<th class="header"> Primary Farmer <i class="icon-sort"></i></th>-->
        <!--<th class="header"> Acreage <i class="icon-sort"></i></th>-->
        <!--<th class="header"> Yield <i class="icon-sort"></i></th>-->
        <!--<th class="header"> Location <i class="icon-sort"></i></th>-->
        <!--<th class="header"> Six Sigma Score <i class="icon-sort"></i></th>-->
        <!--<th class="header"> KPI Score <i class="icon-sort"></i></th>-->
        <!--</tr>-->
        <!--</thead>-->

        <!--<tbody>-->

        <!--{% for key in data %}-->
        <!--<tr>-->
        <!--<td>{{ key.name }}</td>-->
        <!--<td>{{ key.blog }}</td>-->
        <!--<td>{{ key.public_repos }}</td>-->
        <!--<td>{{ key.public_gists }}</td>-->
        <!--<td>{{ key.email }}</td>-->
        <!--<td>{{ key.followers }}</td>-->
        <!--<td>{{ key.following }}</td>-->
        <!--</tr>-->
        <!--{% endfor %}-->

        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->
        <!--</div>-->


    </div>
</main>



<!-- Gage JS -->
<script src="{% static "/js/justgage.js" %}" ></script>

    <!-- Gage JS -->
    <script src="{% static "/js/raphael_2.1.4.min.js" %}" ></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {

      var g1, g2, g3, g4, g5, g6, g7;

      var g1 = new JustGage({
        id: "g1",
        value: {{A_score}},
        min: 0,
        max: 5,
		decimals: 2,
        <!--title: "Beneficiaries Expectations",-->
        label: "",

        levelColors: [
          "#ff0000",
          "#dddd04",
          "#21ff00"
        ]
      });

       var g2 = new JustGage({
        id: "g2",
        value: 1.5,
        min: 0,
        max: 5,
		decimals: 2,
        <!--title: "Farmer's required farm activities to meet beneficiaries expectations",-->
        label: "",

        levelColors: [
          "#ff0000",
          "#dddd04",
          "#21ff00"
        ]
      });

            var g3 = new JustGage({
        id: "g3",
        value: 2,
        min: 0,
        max: 5,
		decimals: 2,
        <!--title: "Governance and social responsibility for farm performance excellence",-->
        label: "",

        levelColors: [
          "#ff0000",
          "#dddd04",
          "#21ff00"
        ]
      });

            var g4 = new JustGage({
        id: "g4",
        value: 2.5,
        min: 0,
        max: 5,
		decimals: 2,
        <!--title: "Farmer's market access and flexibility",-->
        label: "",

        levelColors: [
          "#ff0000",
          "#dddd04",
          "#21ff00"
        ]
      });

            var g5 = new JustGage({
        id: "g5",
        value: 3,
        min: 0,
        max: 5,
		decimals: 2,
        <!--title: "Farmer's value addition",-->
        label: "",

        levelColors: [
          "#ff0000",
          "#dddd04",
          "#21ff00"
        ]
      });

            var g6 = new JustGage({
        id: "g6",
        value: 3.5,
        min: 0,
        max: 5,
		decimals: 2,
        <!--title: "Risk Management",-->
        label: "",

        levelColors: [
          "#ff0000",
          "#dddd04",
          "#21ff00"
        ]
      });

            var g7 = new JustGage({
        id: "g7",
        value: 4,
        min: 0,
        max: 5,
		decimals: 2,
        <!--title: "Farmer's results",-->
        label: "",

        levelColors: [
          "#ff0000",
          "#dddd04",
          "#21ff00"
        ]
      });

       var g8 = new JustGage({
        id: "g8",
        value: 4.5,
        min: 0,
        max: 5,
		decimals: 2,
        <!--title: "Agronomy",-->
        label: "",

        levelColors: [
          "#ff0000",
          "#dddd04",
          "#21ff00"
        ]
      });

    });
    </script>
</body>
</html>

